#help.modal.fade(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4#helpModalLabel.modal-title About this App
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        
        
      .modal-footer
        a.twitter-share-button(href="https://twitter.com/intent/tweet?text=Just%20found%20this%20Pomodoro%20Clock%20by%20@fabiendeborde%20and%20I%20like%20it!", data-size="large", hashtags="javascript, freeCodeCamp") Share on Tweeter!
        a.twitter-follow-button(href="https://twitter.com/fabiendeborde", data-size="large", data-show-screen-name="false",data-show-count="false") Follow me on Tweeter!
